
name: PyBaMM Twitter bot

on:
  push:
    
  pull_request:

  schedule:
    - cron:  '0 3 * * *'

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest wheel coverage
        pip install -r requirements.txt
    
    - name: Run unit tests
      run: |
        python -m unittest
        
    - name: Tweet
      if: matrix.os == 'windows-latest'
      run: |
        python tweet_plot.py
      env:
        ACCESS_KEY: ${{ secrets.ACCESS_KEY }}
        ACCESS_SECRET: ${{ secrets.ACCESS_SECRET }}
        CONSUMER_KEY: ${{ secrets.CONSUMER_KEY }}
        CONSUMER_SECRET: ${{ secrets.CONSUMER_SECRET }}
    
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    
    - name: Generate coverage report
      if: matrix.os == 'windows-latest'
      run: |
        coverage run -m unittest
    
    - name: Upload coverage to Codecov
      if: matrix.os == 'windows-latest'
      uses: codecov/codecov-action@v1
